name: Build and Test

on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Install SSL Certificates
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https --trust

      - name: Restore dependencies
        run: dotnet restore

      - name: Dotnet Build
        run: dotnet build --configuration Release --no-restore

      - name: Run API Integration Tests
        run: dotnet test ./test/AzureKeyVaultEmulator.IntegrationTests/AzureKeyVaultEmulator.IntegrationTests.csproj

      - name: Run TestContainers Integration Tests
        run: dotnet test ./test/AzureKeyVaultEmulator.TestContainers.Tests/AzureKeyVaultEmulator.TestContainers.Tests.csproj
