name: Build and Push Latest

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Install SSL Certificates
        run: |
          dotnet dev-certs --clean
          dotnet dev-certs https --trust

      - name: Run Integration Tests
        run: |
          dotnet test

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Extract Version
        id: get_version
        run: |
          VERSION=latest

      - name: Build Docker Image
        run: |
          docker build -t jamesgoulddev/azure-keyvault-emulator:latest .

      - name: Push Docker Image
        run: |
          docker push jamesgoulddev/azure-keyvault-emulator:latest
