name: Build and Push Dev Docker Image

on:
  pull_request:
    branches:
      - development 
    types:
      - closed

jobs:
  build-and-push:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Install SSL Certificates
        run: |
          dotnet dev-certs https --trust

      - name: Run Integration Tests
        run: |
          dotnet test

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Extract Version
        id: get_version
        run: |
          VERSION=$(git describe --tags --always --dirty="-dev")
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t jamesgoulddev/azure-keyvault-emulator:dev-${VERSION} .

      - name: Push Docker Image
        run: |
          docker push jamesgoulddev/azure-keyvault-emulator:dev-${VERSION}

  closed-without-merge:
    if: github.event.pull_request.merged == false
    steps::
      - run: |
          echo PR #${{ github.event.number }} has been closed without merging.
