name: Publish ARM Docker Images

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch all tags
        run: git fetch --tags

      - name: Get latest tag
        id: get_version
        run: |
          TAG=$(git tag -l "v*.*.*" | sort -V | tail -n 1)
          if [[ -z "$TAG" ]]; then
            echo "No Git tag found. Please create a version tag before merging the PR."
            exit 1
          fi
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Start Docker service
        run: |
          sudo service docker start

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Install SSL Certificates
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https --trust

      - name: Run API Integration Tests
        run: dotnet test ./test/AzureKeyVaultEmulator.IntegrationTests/AzureKeyVaultEmulator.IntegrationTests.csproj

      # - name: Run TestContainers Integration Tests
      #   run: dotnet test ./test/AzureKeyVaultEmulator.TestContainers.Tests/AzureKeyVaultEmulator.TestContainers.Tests.csproj

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          
      - name: Build Docker Image
        run: |
          docker build --platform linux/arm64/v8 -t jamesgoulddev/azure-keyvault-emulator:latest-arm -t jamesgoulddev/azure-keyvault-emulator:${{ env.VERSION }}-arm .

      - name: Push Latest Docker Image (ARM64)
        run: docker push jamesgoulddev/azure-keyvault-emulator:latest-arm

      - name: Push Versioned Docker Image (ARM64)
        run: docker push jamesgoulddev/azure-keyvault-emulator:${{ env.VERSION }}-arm
